@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0%;
  padding: 0%;
}

body {
  background: url(../images/bg-intro-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
  background-color: #ff7a7a;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 5% 10% auto 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .text-sec {
  width: 50%;
}

main .text-sec h1 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 3vw;
  width: 80%;
}

main .text-sec p {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  width: 85%;
  margin-top: 3%;
}

main .form-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

main .form-sec .offer-head {
  padding: 15px 15px;
  background: #6055a5;
  margin-bottom: 5%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1vw;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

main .form-sec .offer-head span {
  font-weight: 100;
}

main .form-sec form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  padding: 5%;
  border-radius: 5px;
  /*  input:focus:invalid + .error {
                display: block;
            }*/
}

main .form-sec form input, main .form-sec form button {
  width: 80%;
  margin: 2% 3% 2% 3%;
  padding: 3% 5%;
  border-radius: 5px;
  border: 1px solid #b9b6d3;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 13px;
}

main .form-sec form input:focus {
  outline: 1px solid black;
}

main .form-sec form .error {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.9vw;
  color: #ff7a7a;
  font-style: italic;
  width: 80%;
  text-align: right;
  margin: auto 10% 1.5% 10%;
  display: none;
}

main .form-sec form .error.active {
  display: block;
}

main .form-sec form button {
  width: 90%;
  cursor: pointer;
  background: #38cc8c;
  color: #fff;
  font-size: 1vw;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

main .form-sec form button:hover {
  opacity: .8;
}

main .form-sec form p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.8vw;
  color: #b9b6d3;
  text-align: center;
  margin-bottom: 3%;
}

main .form-sec form p a {
  color: #ff7a7a;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  body {
    background: url(../images/bg-intro-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #ff7a7a;
  }
  body main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  body main .text-sec {
    width: 100%;
  }
  body main .text-sec h1 {
    width: 80%;
    margin: 5% 10%;
    font-size: 5vw;
  }
  body main .text-sec p {
    width: 90%;
    margin: auto 5%;
  }
  body main .form-sec {
    width: 100%;
    margin-bottom: 20%;
  }
  body main .form-sec .offer-head {
    margin-top: 15%;
    font-size: 5vw;
    padding: 15px 40px;
  }
  body main .form-sec form input, body main .form-sec form button {
    padding: 5% 5%;
  }
  body main .form-sec form .error {
    font-size: 2vw;
  }
  body main .form-sec form button {
    font-size: 3.5vw;
  }
  body main .form-sec form p {
    font-size: 3vw;
    width: 80%;
    margin: auto 10%;
  }
}
/*# sourceMappingURL=style.css.map */